//$tabbar-height: rem-calc(50);
$topbar-breakpoint: 0.001em; /* Change to 9999px for always mobile layout */
$topbar-media-query: "only screen and (min-width: #{$topbar-breakpoint})";

$orbit-timer-show-progress-bar: false;

@import "packages/foundation5-sass/foundation";

body {
    //background-image: url(/img/bg.jpg);
}

#map img {
    max-width : none;
}

.top-bar {
    .icon {
        padding: 0 7px;
        width: 2rem;
        i {
            font-size: 1.7rem;
        }
    }

    .top-bar-section .has-form {
        padding: 0 7px;
    }
}

.left-radius {
    border-radius: 5px 0 0 5px;
}

.right-radius {
    border-radius: 0 5px 5px 0;
}

.main-section {
    height: 100%;
    div.row-fluid,
    div.columns,
    div.orbit-container {
        height: 100%;
        padding: 0;
    }

    ul.main-orbit {
        height: 100%;
        li.item {
            height: 100%;
            overflow: auto;
        }
    }
}

table.station-list {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

table.station-list tr {
    line-height: 3em;
}

table.station-list td {
}

.station-list .item {
    height: 3rem;
}

@mixin link($color) {
    background: $color !important;

    &:hover {
        background: darken($color, 5%) !important;
    }
}

.bikes-0 {
    @include link(#FF0000);
}

.bikes-1 {
    @include link(#A60000);
}

.bikes-2 {
    @include link(#888);
}

.bikes-3 {
    @include link(#666);
}

.bikes-4 {
    @include link(#008500);
}

.bikes-5 {
    @include link(#00CC00);
}
